<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人主页</title>
</head>
<body>
    <h1>个人主页</h1>
    <div>
        <h3>{{ username }} 发布的微博</h3>
        {% for weibo in weibo_list %}
        <li>{{ weibo[2] }}</li>
        <li>{{ weibo[1] }} 创建于 {{ weibo[0] }}</li>
        {% endfor %}
    </div>

    <div>
        {% if followed %}
            <a href="{{ url_for('user.unfollowing', username=username) }}">取消关注</a>
        {% else %}
            <a href="{{ url_for('user.following', username=username) }}">关注他</a>
        {% endif %}
    </div>
</body>
</html>