<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Hello ahe</title>
  </head>
  <body>
  <div class="he-container">
    	<div class="block">
        	<div class="loginform">
            	<h1>注册并登陆帐号</h1>
                <ul>
                    <form action="{{ url_for('.register') }}" method="post">
                	<li class="inputfont"><input class="input" name="username" placeholder="用户名"></li>
                    <li class="inputfont"><input type="password" class="input" name="password" placeholder="密码"></li>
                    <li><input type="submit" class="gua-button-big" value="注 册"></li>
                    </form>
                </ul>
            </div>
        </div>
</div>

  </body>
</html>
