<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new weibo with redis as db</title>
</head>
<body>
     <form action="{{ url_for('.add') }}" method="post" class="out">
         <div><span>当前登陆为：{{ username }}</span></div>
         <input id="id-input-weibo" type="text" name="weibo" class="wei" placeholder="说说你的新鲜事儿"> </input>
        <br>
        <button id="id-button-weibo-add" class="pure-button pure-button-primary sub"
         type="submit">发微博！</button>
     </form>

    {% for t in weibos %}
    <li>
        <span class="newWeibo">{{ t.content }}</span>
        <span class="right span-margin">{{ t.created_time }}</span>
    </li>
    {% endfor %}
</body>
</html>