<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new weibo with redis as db</title>
</head>
<body>
     <form action="{{ url_for('.add') }}" method="post" class="out">
         <div><span>
             {% if username %}
             当前登陆为：{{ username }}
             {% else %}
                哈喽，游客
             {% endif %}
         </span></div>
         <input id="id-input-weibo" type="text" name="content" class="wei" placeholder="说说你的新鲜事儿"> </input>
        <br>
        <button id="id-button-weibo-add" class="pure-button pure-button-primary sub"
         type="submit">发微博！</button>
     </form>

    {% for t in weibos %}
    <li>
        <span class="newWeibo">{{ t.get('content', None) }}</span><br>
        <span class="newWeibo">{{ t.get('author', None) }}</span>创建于
        <span class="right span-margin">{{ t.get('create_time', None) }}</span>
    </li>
    {% endfor %}
                <!--<li><a class="reg" href="{{ url_for('user.register') }}">免费注册</a></li>-->

<h3><a href="{{ url_for('weibo.timeline') }}">看看最近都发生了些什么：</a></h3>
</body>
</html>